{% extends "layout.html"%}

{%block heading%}
<h1 class="text-emphasis-variant">Super-Admin Page</h1><br><br>
{%endblock%}
{%block body%}
<!-- partial:index.partial.html -->
<!-- Plug Bootstrap Nav Bar code here -->
     <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
      <a class="navbar-brand" href="{% url 'super_admin'  %}">Back</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        <form class="form-inline my-2 my-lg-0 action=" action="{% url 'delete_session' %}">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
      </div>
    </nav>

    <div class="jumbotron" style=" margin-right: 200px; margin-left: 200px; margin-top: 100px;">
        <div class="container text-center">
      {% for k,v in data.items %}
      <form action ="{% url 'checkoutclub' %}" >
        {% csrf_token %}
          <button class="btn btn-primary btn-lg w-50" >{{k}}</button><br><br>
          <input type="hidden"  type="submit" name="admin_name" value="{{v}}">
          <input type="hidden"  type="submit" name="club_name" value="{{k}}">
      </form>
      {% endfor %}

    </div>
    </div>
    {% endblock%}