{% extends "layout.html"%}

{%block heading%}
<h1 class="text-emphasis-variant">Edit a Club</h1><br><br>

{%block body%}


    <div class="jumbotron" style=" margin-right: 200px; margin-left: 200px; margin-top: 10px;">
     <h3> Choose a club to edit</h3>
        <div class="container text-center">
      {% for k,v in data.items %}
      <form action ="{% url 'checkoutclub' %}" >
        {% csrf_token %}
          <button class="btn btn-primary btn-lg w-50" >{{k}}</button><br><br>
          <input type="hidden"  type="submit" name="admin_name" value="{{v}}">
          <input type="hidden"  type="submit" name="club_name" value="{{k}}">
      </form>
      {% endfor %}

    </div>
    </div>
    {% endblock%}
    {%endblock%}