{% extends "layout.html"%}

{%block heading%}
<h3 class="text-emphasis-variant">Events</h3><br><br>
{%endblock%}
{%block body%}

<div style="align-items: center;" class="container">
    <center>

    <table class="table table-bordered" style="width:50% ; border: 2px solid grey">

      <thead>
        <tr style="background-color: dodgerblue; color: ghostwhite;">
          <th style="text-align: center;"  class="col-1">Event Name</th>
          <th style="text-align: center;" class="col-2">Event date</th>
          <th style="text-align: center;" class="col-4">Description</th>
          <th style="text-align: center;" class="col-1">Venue</th>
          <th style="text-align: center;" class="col-1">Start Time</th>
          <th style="text-align: center;" class="col-1">End Time</th>
          <th style="text-align: center;" class="col-1">Coordinator</th>
          <th style="text-align: center;" class="col-1">Contact</th>
        </tr>
      </thead>
      <tbody>

    {% for i,j,a in packed %}

        <tr class="info" style="text-align: center;">

        {% for k,v in i.items %}
        <form action = "{% url 'participants' %}">
        <input type="hidden" type="submit" value="{{a}}" name ="date">
            <input type="hidden" type="submit" value="{{j}}" name="event" >

            <td><button type="submit" class= "btn" style="background-color: white;">{{v}}</button></td>
          </form>
        {% endfor %}

        </tr>

    {% endfor %}
      </tbody>
</table>

</center>
</div>
<br>
{% endblock %}
