{% extends "layout.html" %}


{% block heading %}
<div style="background-image: linear-gradient(to top, #30e2f7, #8ae7ff, #c3ebff, #ebf3ff, #ffffff);">

<h1 style="color: goldenrod; font-family:'Times New Roman', Times, serif ;text-align:center;">CHAITANYA BHARATHI INSTITUTE OF TECHNOLOGY</h1>
<h5 style="text-underline-position: auto;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align:center;">
Kokapet(Village),Gandipet,Hyderabad,Telangana-500075,www.cbit.ac.in</h5>

<h2 style="text-underline-position: auto;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align:center;">
<b>ADMIN SITE FOR CBIT CLUBS</b></h2>

{% block body %}

<script>
 
    function display(x)
    {
        if(x=='sadminbutton'){
          document.getElementById("sadmin").style.display = "block";

        }
        else{
            document.getElementById("admin").style.display = "block";
        }
    }
</script>

	<div class="modal-body row">
  <div class="col-md-5">
    
    <div class="container" style="margin: auto; width: 40%; margin-top: 100px;">
      
    <div class="card" style="width: 18rem; border:2px solid grey">
        <button type="button" class="btn btn-primary btn-lg"  id="sadminbutton" onclick='display("sadminbutton");' >Super-Admin</button>
  <div class="card-body" id="sadmin" style="display:none">
    
    <h5 class="card-title">Super-Admin Login</h5>
    <form action ="super_admin/" method="post">

      {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">ID</label>
    <input type="text" class="form-control" required id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" name="sid">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" required id="exampleInputPassword1" placeholder="Password" name="spword">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>

</form>

  </div>
</div>

  </div>
  {% if alert %}
      <p style="text-align: center;">Invalid Credentials</p>
      {% endif %}
</div>


  <div class="col-md-2">
  	<span style="display: inline-block;
        border-left: 1px solid #ccc;
        margin: 0 10px;
        height: 625px;"></span>
  </div>
  <div class="col-md-5">
  	<div class="container" style="margin: auto; width: 70%; margin-top: 100px;">
        <div class="card" style="width: 18rem;border:2px solid grey">
            <button type="button" class="btn btn-primary btn-lg"  id="adminbutton" onclick="display('adminbutton');" >Admin</button>
  <div class="card-body" id="admin" style="display: none;">
    
    <form action ="adminlogin/" >
      <div class="btn-group-vertical" >
        {% for i in club %}
       
    <input type="submit" class="btn btn-primary btn-lg" name="club" value={{i}} style="border: 3px solid white;">
    
    
    {% endfor %}
      </div>
 
    </form>
  </div>
</div>
</div>
</div>
</div>

{% endblock %}
</div>
{% endblock%}
