{% extends "layout.html"%}

{%block heading%}
<h3 class="text-emphasis-variant">Registered students for {{event}}</h3><br><br>

{%block body%}

<div style="align-items: center;" class="container">
    <center>
      {% if length %}
    <table class="table " style="width:50% ; border: 2px solid grey">
      <thead>
        <tr style="background-color: dodgerblue; color: ghostwhite;">
          <th style="text-align: center;">Student ID</th>
          <th style="text-align: center;">Name</th>
          <th style="text-align: center;">Branch</th>
          <th style="text-align: center;">Year</th>
        </tr>
      </thead>
      <tbody>
    {% for i in data %}

        <tr class="info" style="text-align: center;">
        {% for k,v in i.items %}
            <td>{{v}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
      </tbody>
</table>
{% else %}
<h2>No registrants for this event</h2>
{% endif %}
</center>
</div>

{% endblock %}
{%endblock%}