{% extends "layout.html"%}

{%block heading%}
<h1 class="text-emphasis-variant">CLUBS</h1><br><br>

{%block body%}

     

    <div class="jumbotron" style=" margin-right: 200px; margin-left: 200px; margin-top: 10px;background-image: linear-gradient(to top, #30e2f7, #8ae7ff, #c3ebff, #ebf3ff, #ffffff);">
    	<div class="container text-center">
      {% for k,v in data.items %}
        <span class="btn btn-primary w-50"><b>ClubName:</b> {{k}}<br> <b>Admin:</b>{{v}}</span><br><br>
      {% endfor %}
    </div>
    </div>
    {% endblock%}
    {%endblock%}
